@using LOVIT.Tracker.Services;
@inject IRaceService raceService;
@inject ISegmentService segmentService;
@inject ICheckpointService checkpointService;

@{
    var races = await raceService.GetRacesAsync();
    var segments = await segmentService.GetSegmentsAsync();
    var checkpoints = await checkpointService.GetCheckpointsAsync();
}
<header class="navbar navbar-header navbar-header-fixed bd-b-0">
    <a href="" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
    <div class="navbar-brand">
        <a href="/" class="df-logo">LOViT<span>100</span></a>
    </div>
    <div id="navbarMenu" class="navbar-menu-wrapper">
        <div class="navbar-menu-header">
            <a href="../index.html" class="df-logo">LOViT<span>100</span></a>
            <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
        </div>
        <ul class="nav navbar-menu">
            <li class="nav-label pd-l-15 pd-lg-l-25 d-lg-none">Main Navigation</li>
            <li class="nav-item"><a href="/" class="nav-link"><i data-feather="box"></i> Dashboard</a></li>
            @foreach (var race in races)
            {
                <li class="nav-item with-sub">
                    <a href="#" class="nav-link"><i data-feather="pie-chart"></i> @race.Code</a>
                    <ul class="navbar-menu-sub">
                        <li class="nav-sub-item"><a class="nav-sub-link" asp-page="/races/index"
                                asp-route-id="@race.Code">Full Leaderboard</a></li>
                        @foreach (var segment in segments.Where(x => x.RaceId == race.Id))
                        {
                            <li class="nav-sub-item"><a class="nav-sub-link" asp-page="/segments/index"
                                    asp-route-id="@segment.Id">@segment.Name</a></li>
                        }
                    </ul>
                </li>
            }
            <li class="nav-item with-sub">
                <a href="#" class="nav-link"> Checkpoints</a>
                <ul class="navbar-menu-sub">
                    @foreach (var checkpoint in checkpoints)
                    {
                        <li class="nav-sub-item"><a class="nav-sub-link" asp-page="/checkpoints/index" asp-route-id="@checkpoint.Id">@checkpoint.Name</a></li>
                    }
                </ul>
            </li>
            <li class="nav-item with-sub">
                <a href="#" class="nav-link"> Maps</a>
                <ul class="navbar-menu-sub">
                    <li class="nav-sub-item"><a class="nav-sub-link" asp-page="/maps/index">Course</a></li>
                    <li class="nav-sub-item"><a class="nav-sub-link" asp-page="/maps/weather">Weather</a></li>
                    <li class="nav-sub-item"><a class="nav-sub-link" asp-page="/maps/participants">Participants</a></li>
                </ul>
            </li>

            @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
            {
                <li class="nav-item with-sub">
                    <a href="#" class="nav-link"> Charts</a>
                    <ul class="navbar-menu-sub">
                        <li class="nav-sub-item"><a class=" nav-sub-link" asp-page="/charts/checkins">Checkins by
                                Checkpoint</a></li>
                        <li class="nav-sub-item"><a class=" nav-sub-link" asp-page="/charts/participanttimeline">Participant
                                Timeline</a></li>
                    </ul>
                </li>
                <li class="nav-item with-sub">
                    <a href="#" class="nav-link"> Admin</a>
                    <ul class="navbar-menu-sub">
                        <li class="nav-sub-item"><a class=" nav-sub-link" asp-page="/admin/dashboard">Dashboard</a></li>
                        <li class="nav-sub-item"><a class=" nav-sub-link" asp-page="/admin/checkins/unconfirmed">Unconfirmed
                                Checkins</a></li>
                        <li class="nav-sub-item"><a class=" nav-sub-link" asp-page="/admin/raceevents/index">Race Events</a>
                        </li>
                        <li class="nav-sub-item"><a class=" nav-sub-link" asp-page="/admin/races/index">Races</a></li>
                        <li class="nav-sub-item"><a class=" nav-sub-link" asp-page="/admin/segments/index">Segments</a></li>
                        <li class="nav-sub-item"><a class=" nav-sub-link"
                                asp-page="/admin/checkpoints/index">Checkpoints</a></li>
                        <li class="nav-sub-item"><a class=" nav-sub-link" asp-page="/admin/monitors/index">Monitors</a></li>
                        <li class="nav-sub-item"><a class=" nav-sub-link"
                                asp-page="/admin/participants/index">Participants</a></li>
                        <li class="nav-sub-item"><a class=" nav-sub-link" asp-page="/admin/leaders/index">Leaders</a></li>
                        <li class="nav-sub-item"><a class=" nav-sub-link" asp-page="/admin/checkins/index">Checkins</a></li>
                        <li class="nav-sub-item"><a class=" nav-sub-link" asp-page="/admin/messages/index">Messages</a></li>
                        <li class="nav-sub-item"><a class=" nav-sub-link" asp-page="/admin/watchers/index">Watchers</a></li>
                        <li class="nav-sub-item"><a class=" nav-sub-link" asp-page="/admin/settings/index">Settings</a></li>
                    </ul>
                </li>
            }
        </ul>
    </div>
    <div class="navbar-right">
        <partial name="_LoginPartial" />
    </div>
</header>
