@page
@model LOVIT.Tracker.Pages.Admin.Participants.IncomingModel

@{
    ViewData["Title"] = "Index";
}

@section Styles {
<link href="https://unpkg.com/tabulator-tables@5.4.3/dist/css/tabulator.min.css" rel="stylesheet">
<link href="https://unpkg.com/tabulator-tables@5.4.3/dist/css/tabulator_bootstrap5.min.css" rel="stylesheet">
<style>
    #race-grid {
        max-height: 100%;
        width: 100%;
    }
</style>
}

<h1>Incoming Due Dates</h1>

<table class="table">
    <thead>
        <tr>
            <th>Participant</th>
            <th>Race</th>
            <th>Status</th>
            <th>Next Segment</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.IncomingParticipants.OrderBy(x => x.DueDate)) {
        <tr>
            <td>@item.Leader.Participant.FullName</td>
            <td>@item.RaceCode</td>
            <td>@item.Leader.Participant.Status</td>
            @if (item.Leader.Participant.Status == Models.Status.Started || item.Leader.Participant.Status == Models.Status.Registered) {
                <td>@item.NextSegment.Name</td>
            } else {
                <td></td>
            }
            @if (item.Prediction != null) {
                <td class="@item.RowClass">@item.DueDate.ToLocalTime().ToString("h:mm tt")</td>
            } else {
                <td></td>
            }
        </tr>
}
    </tbody>
</table>

@section Scripts {
<script src="https://cdn.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js"></script>
<script src="https://unpkg.com/tabulator-tables@5.4.3/dist/js/tabulator.min.js"></script>
<script>
var table = new Tabulator(".table", {
    layout: "fitColumns"
});
</script>
}