@page
@model LOVIT.Tracker.Pages.Admin.Races.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Races[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Races[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Races[0].Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Races[0].Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Races[0].End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Races[0].UltraSignupUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Races[0].RaceEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Races[0].GeoJson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Races[0].Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Races) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltraSignupUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaceEvent.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeoJson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
