@page
@model LOVIT.Tracker.Pages.Segments.IndexModel
@using LOVIT.Tracker.Utilities;
@{
}

<div class="row">
    <div class="col">
        <h2>@Model.Race.Code - @Model.Segment.Name</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Participant</th>
                    <th>Check In</th>
                    <th>Segment Time</th>
                    <th>Segment Pace</th>
                    <th>Overall Time</th>
                    <th>Overall Pace</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var row in Model.Leaders.Select((x, i) => new { data = x, index = i}))
            {
                var checkin = Model.Checkins.Where(x => x.ParticipantId == row.data.ParticipantId).FirstOrDefault();
                <tr>
                    <td>@(row.index + 1)</td>
                    <td>
                        <a asp-page="/participants/index" asp-route-id="@row.data.Participant.BibOrId">
                            @row.data.Participant.FullName
                        </a>
                    </td>
                    <td>
                        @(checkin != null ? checkin.When.ToLocalTime().ToString("ddd, h:mm tt") : "")
                    </td>
                    <td>
                        @(checkin != null ? TimeHelpers.FormatSeconds(checkin.Elapsed) : "")
                    </td>
                    <td>
                        @(checkin != null ? TimeHelpers.CalculatePace(checkin.Elapsed, Model.Segment.Distance) : "")
                    </td>
                    <td>
                        @(checkin != null ? TimeHelpers.FormatTime(Model.Race.Start, checkin.When) : "")
                    </td>
                    <td>
                        @(checkin != null ? TimeHelpers.CalculatePace(Model.Race.Start, checkin.When, Model.Segment.TotalDistance) : "")
                    </td>
                </tr>
            }                
            </tbody>
        </table>
    </div>
</div>