@page
@using Utilities
@model LOVIT.Tracker.Pages.Admin.Checkins.IndexModel

@{
    ViewData["Title"] = "Checkins";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
}

<h1>Checkins</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Checkin[0].When)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checkin[0].Participant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checkin[0].Segment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checkin[0].Confirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checkin[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checkin[0].Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checkin[0].Elapsed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Checkin) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.When)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Participant.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Segment.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message.Id)
            </td>
            <td>
                @TimeHelpers.FormatSeconds(item.Elapsed)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
        $('.table').DataTable();
    });
</script>
}